<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <title>Document</title>
</head>

<body>
    <form action="/rendered" method="post">
        <div class="row">
            <div class="form-group col-md-6 offset-md-3 card p-3">
                Copy and paste spreadsheet into text area.
                <textarea class="col-12" name="txt" id="txt" cols="30"
                    rows="10">1850	Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, deserunt ex quis quia eius officiis sequi quasi consequatur. Illum, maxime! Enim quod magni nam ducimus provident rerum in magnam. Sunt?	https://google.com
                    1900	Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, commodi voluptas sapiente, quam maxime similique magnam, ab ex ad id accusantium cum aliquam voluptatem repellat minus corrupti rem laborum. Culpa.	https://google.com
                    1900	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad dolorem dignissimos quam quisquam id fugiat totam, ab dolorum, vel numquam asperiores et accusamus nulla atque minus sit architecto perferendis? Quos.	https://google.com
                    1990	Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem mollitia distinctio inventore, rem a odio vero laborum amet nihil recusandae rerum provident assumenda, doloribus quod, delectus vitae autem nulla enim.	https://google.com
                    1991	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab inventore, alias illum accusamus nulla facilis adipisci animi quae iste dolorem excepturi expedita sint nam similique, tenetur quaerat vero culpa nesciunt.	https://google.com
                    2050	Lorem ipsum dolor, sit amet consectetur adipisicing elit. In incidunt asperiores sapiente ducimus a. Libero voluptates officia vel tenetur molestias beatae, nostrum, exercitationem neque veniam quisquam id dicta excepturi architecto.	https://google.com
                    2080	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis rerum cumque doloremque? Dolorum repudiandae, itaque eveniet iure eaque molestiae nostrum amet eius facilis? Consequuntur, obcaecati. Placeat perspiciatis fuga rerum tempora?	https://google.com
                    2110	Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ipsam provident eaque quos modi et aperiam sapiente explicabo tenetur placeat. Libero, molestias? Voluptatum, aspernatur accusantium? Excepturi quae dolores in omnis.	https://google.com</textarea>
                <br>
                <button type="submit" class="btn btn-primary d-inline">Render</button>
            </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>